lab-fir/fir/vvd
lab-fir/fir/xsim.dir
lab-fir/fir/fir_tb_elab.wdb
lab-fir/fir/run.sh
lab-fir/fir/wave.gtkw
lab-fir/fir/xelab.log
lab-fir/fir/xelab.pb
lab-fir/fir/xsim.jou
lab-fir/fir/xvlog.log
lab-fir/fir/xvlog.pb